<div class="container">

  <div class="container d-flex flex-row justify-content-between mt-2 mb-4">
    <div class="activity-title">
        <div> <h2 class="title" data-content="Add a question">Add a question</h2></div>
      </div>
  </div>

  <div class="form-text d-flex flex-row justify-content-center">
    <div class="question-form" style="width: 50%">
      <%= simple_form_for [@question] do |f| %>
        <%= f.input :title, :as => :text, :input_html => {:rows => 3}, label: 'Title' %>
        <%= f.input :question, as: :text, :input_html => {:style => 'height:200px;'}, label: 'Question' %>
        <%= f.submit "Post", class: "btn btn-block btn-success mt-4" %>
      <% end %>
    </div>
  </div>

  <div class="button mt-3">
      <%= link_to "<< Back to forum", questions_path, class: "btn btn-link" %>
  </div>
</div>
