<% content_for :meta_title, "Survivors" %>
<% content_for :meta_description, "Do you have a question and don't know who to ask? Use our forum!" %>
<% content_for :meta_image, image_tag("pinky-promise.jpg", class: "meta-picture") %>

<div class="container">

  <div class="row">
    <div class="col-2">
      <div class="activity-title">
        <div> <h2 class="title" data-content="Forum">Forum</h2> </div>
      </div>
    </div>
    <div class="col-7" style="display: flex; align-items: center;">
      <div class="form-forum mx-6">
        <%= form_tag questions_path, class: "form-horizontal pr-0", method: :get do %>
          <%= text_field_tag :title, params[:title],class: "form-control form-control-question mb-3", placeholder: "Search for a topic" %>
          <%= submit_tag "Search", class: "btn btn-primary mb-3 ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row-questions">
        <div class="questions">
        <% @questions.each do |question| %>
        <div class="each-question">
          <div class="questions-profile-image col-1">
            <% if question.user.avatar.attached? %>
            <%= cl_image_tag(question.user.avatar.key, class: "avatar") %>
            <% end %>
          </div>

          <div class="questions-question col-8">
            <p> <%= link_to question[:title], question_path(question)%> </p>
          </div>
          <div class="questions-view-icon col-1">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, question_path(question), method: :get %>
            <% if question.user == current_user %>
            <%= link_to "#", data: {toggle: "modal", target: "#modalQuestion-#{question.id}"} do  %>
                <i class="fas fa-trash-alt icon-hover" ></i>
                <% end %>
                    <!-- Modal -->
                    <div class="modal fade" id="modalQuestion-<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Delete confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this question?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                            <%= link_to "Delete", question_path(question), method: :delete, class: "btn btn-primary" %>
                            <!-- <button type="button" class=“btn btn-primary">Delete</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                <% else %>
                  <%=  %>
                <% end %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="questions-button mt-4">
        <%= link_to "Add a question", new_question_path(Question.new), method: :get, class: "btn btn-block btn-success" %>
      </div>

  </div>
</div>

