<div class="container">

  <div class="row">
    <div class="col-12 mb-3">
      <div class="activity-title">
        <div> <h1 class="black">Forum</h1> </div>
        <div> <h1 class="white">Forum</h1> </div>
        <div> <h1 class="white2">Forum</h1> </div>
      </div>
    </div>
  </div>

  <div class="row-questions">
      <div class="questions">
        <% @questions.each do |question| %>
        <div class="each-question">
          <div class="questions-profile-image col-1">
            <%= image_tag("autumn-woman.png", :alt => "woman") %>
          </div>
         <!--  <div class="questions-info">
            <h3 class="nickname"> <%= link_to question.user.nickname, question_path(question) %> </h3>
          </div> -->
          <div class="questions-question col-8">
            <p> <%= question[:question] %> </p>
          </div>
          <div class="questions-view-icon col-1">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, question_path(question), method: :get %>
          </div>

        </div>
        <% end %>
      </div>

      <div class="questions-button mt-4">
        <%= link_to "Add a question", new_question_path(Question.new), method: :get, class: "btn btn-success" %>
      </div>

  </div>
</div>

