<div class="container">

  <div class="row" style= "margin-bottom: -30px;">
    <div class="col-12 mb-3">
      <div class="activity-title">
        <div> <h2 class="title" data-content="Forum">Forum</h2> </div>
      </div>
    </div>
  </div>

  <div class="row-questions">
      <div class="questions">
        <%= form_tag questions_path, class: "form-horizontal pr-0", method: :get do %>
          <%= text_field_tag :title, params[:title],class: "form-control mb-3",
            placeholder: "Search for a question" %>
          <%= submit_tag "Search", class: "btn btn-primary mb-3 ml-3" %>
        <% end %>
        <% @questions.each do |question| %>
        <div class="each-question">
          <div class="questions-profile-image col-1">
            <%= cl_image_tag(question.user.avatar.key, class: "avatar") %>
          </div>

          <div class="questions-question col-8">
            <p> <%= question[:title] %> </p>
          </div>
          <div class="questions-view-icon col-1">
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, question_path(question), method: :get %>
          </div>

        </div>
        <% end %>
      </div>

      <div class="questions-button mt-4">
        <%= link_to "Add a question", new_question_path(Question.new), method: :get, class: "btn btn-success" %>
      </div>

  </div>
</div>

