<div class="container">
  <div class="activity-title">
    <div> <h1 class="black pl-3">My Agenda</h1> </div>
    <div> <h1 class="white pl-3">My Agenda</h1> </div>
    <div> <h1 class="white2 pl-3">My Agenda</h1> </div>
  </div>


  <div class="dashboard-content">
    <h2 class="mb-3">My Bookings</h2>
    <div class="dashboard">
      <div class="row align-items-center">
        <% @bookings.each do |booking| %>

          <div class="col-3">
            <div class="column-item">
              <% if booking.activity.image.attached? %>
                <%= cl_image_tag booking.activity.image.key, class: "dashboard-image", crop: :fill %>
                <% else %>
                <%= image_tag booking.activity.Altimage, class: "dashboard-image", crop: :fill %>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= booking.activity.name %>
            </div>
          </div>
          <div class="col-3">
            <div class="column-item">
              <%= booking.activity.address %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= booking.activity.start_at.strftime('%a, %e %b - %l %p') %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <ul>
                <a href=""><li><%= link_to '<i class="far fa-eye"></i>'.html_safe, activity_path(booking.activity), method: :get %>  </li></a>
                <a href=""><li><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, booking_path(booking), method: :delete %></li></a>
              </ul>
            </div>
          </div>
          <hr>
          <% end %>
      </div>
    </div>
  </div>

  <div class="dashboard-content">
    <h2 class="mb-3">Created Activities</h2>
    <div class="dashboard">
      <div class="row align-items-center">
        <% @activities.each do |activity| %>

          <div class="col-3">
            <div class="column-item">
              <% if activity.image.attached? %>
                <%= cl_image_tag activity.image.key, class: "dashboard-image", crop: :fill %>
                <% else %>
                <%= image_tag activity.Altimage, class: "dashboard-image", crop: :fill %>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= activity.name %>
            </div>
          </div>
          <div class="col-3">
            <div class="column-item">
              <%= activity.address %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= activity.start_at.strftime('%a, %e %b - %l %p') %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <ul>
                <a href=""><li><%= link_to '<i class="far fa-eye"></i>'.html_safe, activity_path(activity), method: :get %>  </li></a>
                <a href=""><li><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_activity_path(activity), method: :get %></li></a>
                <a href=""><li><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, activity_path(activity), method: :delete %></li></a>

              </ul>
            </div>
          </div>
          <hr>
          <% end %>
      </div>
    </div>
  </div>
</div>
