<div class="container">
  <div class="activity-title">
    <div> <h2 class="title" data-content="My Agenda">My Agenda</h2></div>
  </div>


  <div class="dashboard-content">
    <h2 class="mb-3">My Bookings</h2>
    <div class="dashboard">
      <div class="row align-items-center">
        <% @bookings.each do |booking| %>

          <div class="col-3">
            <div class="column-item">
              <% if booking.activity.image.attached? %>
                <%= cl_image_tag booking.activity.image.key, class: "dashboard-image", crop: :fill %>
                <% else %>
                <%= image_tag booking.activity.Altimage, class: "dashboard-image", crop: :fill %>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= booking.activity.name %>
            </div>
          </div>
          <div class="col-3">
            <div class="column-item">
              <%= booking.activity.address %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= booking.activity.start_at.strftime('%a, %e %b - %l %p') %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <ul>
                <li><%= link_to '<i class="far fa-eye"></i>'.html_safe, activity_path(booking.activity), method: :get %>  </li>
                <li><i class="fas fa-trash-alt icon-hover" data-toggle="modal" data-target="#modalDashboard-<%= booking.id %>"></i></li>

                  <!-- Modal -->
                  <div class="modal fade" id="modalDashboard-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Delete confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this booking?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                          <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn btn-primary" %>
                          <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
              </ul>
            </div>
          </div>
          <hr>
          <% end %>
      </div>
    </div>
  </div>

  <div class="dashboard-content">
    <h2 class="mb-3">Created Activities</h2>
    <div class="dashboard">
      <div class="row align-items-center">
        <% @activities.each do |activity| %>

          <div class="col-3">
            <div class="column-item">
              <% if activity.image.attached? %>
                <%= cl_image_tag activity.image.key, class: "dashboard-image", crop: :fill %>
                <% else %>
                <%= image_tag activity.Altimage, class: "dashboard-image", crop: :fill %>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= activity.name %>
            </div>
          </div>
          <div class="col-3">
            <div class="column-item">
              <%= activity.address %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <%= activity.start_at.strftime('%a, %e %b - %l %p') %>
            </div>
          </div>
          <div class="col-2">
            <div class="column-item">
              <ul>
                <li><%= link_to '<i class="far fa-eye"></i>'.html_safe, activity_path(activity), method: :get %>  </li>
                <li><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_activity_path(activity), method: :get, class: "icon-hover" %></li>
                <li><i class="fas fa-trash-alt icon-hover" data-toggle="modal" data-target="#modalActivity"></i></li>

                <div class="modal fade" id="modalActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Delete confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this activity?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                          <%= link_to 'Delete', activity_path(activity), method: :delete, class: "btn btn-primary" %>
                        </div>
                      </div>
                    </div>
                  </div>
              </ul>
            </div>
          </div>
          <hr>
          <% end %>
      </div>
    </div>
  </div>

  <div class="button mt-3 d-flex justify-content-center">
    <%= link_to "Create activity", new_activity_path(@activity, Activity.new), method: :get, class: "btn btn-success" %>
  </div>


  <div class="button mt-5">
    <%= link_to "<< Back to activities", activities_path, class: "btn btn-link" %>
  </div>


</div>
