<div class="container">

  <div class="container d-flex flex-row justify-content-between mb-4 mt-4 ml-3">
    <div class="row">
    <div class="col-12 mb-3">
      <div class="activity-title pl-1">
        <div> <h1 class="black pl-3">New Activity</h1> </div>
        <div> <h1 class="white pl-3">New Activity</h1> </div>
        <div> <h1 class="white2 pl-3">New Activity</h1> </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container d-flex flex-row justify-content-center">

    <div class="form-text col-6">
      <%= simple_form_for(@activity) do |f| %>
        <%= f.input :name, label: 'Activity Name' %>
        <%= f.input :address, label: 'Address' %>
        <%= f.input :start_at, :minute_step => 15, label: 'Start' %>
        <%= f.input :end_at, :minute_step => 15, label: 'End' %>
        <%= f.input :description, :as => :text, :input_html => {:rows => 10}, label: 'Description' %>
        <%= f.input :category, collection: Activity::CATEGORIES, label: 'Category' %>
        <%= f.input :presence, collection: Activity::PRESENCE, label: 'In-presence / Online' %>
        <%= f.input :image, as: :file, label: 'Upload Image' %>
        <%= f.submit "Create event", class: "btn btn-block btn-success mb-3" %>
      <% end %>
    </div>

   <!--  <div class="form-picture col-4">

    </div> -->
  </div>
</div>

