
<div class="container">
  <div class="searchbar">
    <%= form_tag activities_path, class: "form-horizontal", method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an Activity" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <h1 class="activity-title"> <%= title("Activities") %> </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <% @activities.each do |activity| %>
        <div class="card-ws">
          <div>
            <div class="card-image">
              <% if activity.image.attached? %>
                <%= cl_image_tag activity.image.key, height: 200, width: 200, crop: :fill %>
                <% else %>
                <%= image_tag activity.Altimage, height: 200, width: 200, crop: :fill %>
              <% end %>
            </div>
          </div>
            <div class="card-body">
              <%= link_to activity.name.capitalize, activity_path(activity), class: 'card-link' %>
              <p> <%= activity.description.first(80) %>... </p>
            </div>
            <div class="card-body-text">
              <%= image_tag("icon-map.png",class: "image-location", :alt => "map") %>
            </div>
            <%= activity.address %>
            <br>
            <p><%= activity.start_at.strftime("%b %e, %l:%M")%> <strong>-</strong> <%= activity.end_at.strftime("%l:%M %p") %> </p>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <div id="map"
       style="width: 100%; height: 600px ;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

