
<div class="container">
  <%= form_tag activities_path, method: :get do %>
    <%= select_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an Activity"
    %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an Activity"
    %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an Activity"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <div class="col-7">
      <% @activities.each do |activity| %>
       <div class="card">
          <div class="card-body">
          </div>

          <div class="card-body">
            <h3 class="pl-2"> <%= activity.name.capitalize %></h3>
          </div>
            <div class="col-12">
              <p > <%= activity.description %> </p>
              <div class="card-body">
                <div class="col-6">
                  <p class="card-text"> <%= activity.address %> </p>
                </div>
                <div class="col-6">
                  <p class="card-text"> <%= activity.start_at %> </p>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

