<div class="container">
  <div class="row mb-3 mt-2">
    <div class="col-12 mb-3">
      <div class="activity-title">
        <div> <h1 class="black"><%=@activity.name %></h1> </div>
        <div> <h1 class="white"><%=@activity.name %></h1> </div>
        <div> <h1 class="white2"><%=@activity.name %></h1> </div>
      </div>
    </div>

  <div class="row">
  </div>
    <div class="col-sm-12 col-md-8">
      <div class="title-ratings d-flex justify-content-between pr-5 mb-2">
        <h2>How it can help you </h2>
        <p>
          <% if !@activity.reviews.empty? %>
            <i class="fas fa-heart"></i> <%= @activity.reviews.average(:rating).round(1) %> / 5
            <% else %>
            <%= %>
            <% end %>
          </p>
      </div>
      <div class="description text-justify pr-5">
        <%= @activity.description %>
      </div>

      <div class="address d-flex mt-3 mb-3">
        <div class="icon-map">
          <%= image_tag("icon-map.png", :alt => "map") %>
        </div>
        <div class="address col-6">
          <%= @activity.address %>
          <br>
          <p> <%= @activity.start_at.strftime("%b %e, %l:%M")%> <strong>-</strong> <%= @activity.end_at.strftime("%l:%M %p") %> </p>
        </div>
      </div>

      <div class="button mt-3">
        <%= link_to "Book Now", activity_bookings_path(@activity, Booking.new), method: :post, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="reviews-container col-sm-12 col-md-4">
      <div class="reviews ">
        <% @activity.reviews.each do |review| %>
        <div class="d-flex align-items-center">
          <div class="profile-image">
            <%= image_tag("autumn-woman.png", :alt => "woman") %>
          </div>
          <div class="reviews-info">
            <h3 class="nickname"> <%= review.user.nickname %> </h3>
            <p style="margin-bottom: 0;"><strong>Posted on <%= review[:created_at].strftime('%A, %e %b %Y') %> </strong></p>
          </div>
          </div>
          <div class="reviews-text mt-2">
            <p> <%= review[:description] %> </p>
          </div>
          <div class="reviews-rating mb-3">
            <i class="fas fa-heart"></i><span> <%= review[:rating] %> </span>
          </div>
        <% end %>

      </div>
      <div class="button mt-3">
        <%= link_to "Add a review", new_activity_review_path(@activity, Review.new), method: :get, class: "btn btn-primary" %>
      </div>
    </div>
      <!-- connect the reviews with the show -->

  </div>
</div>

