<div class="container">
  <div class="row mb-3 mt-2">
    <div class="col-12 mb-3">
      <h1 class="activity-title"><%= title(@activity.name)%></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="title-ratings d-flex justify-content-between pr-5 mb-2">
        <h2>How <%= @activity.name %> can help you </h2>
        <p>(🖤 4.6/5)</p>
      </div>
      <div class="description text-justify pr-5">
        <%= @activity.description %>
      </div>

      <div class="address d-flex mt-3 mb-3">
        <div class="icon-map">
          <%= image_tag("icon-map.png", :alt => "map") %>
        </div>
        <div class="address col-6">
          <%= @activity.address %>
          <br>
          <p> <%= @activity.start_at.strftime("%b %e, %l:%M")%> <strong>-</strong> <%= @activity.end_at.strftime("%l:%M %p") %> </p>
        </div>
      </div>

      <div class="button mt-3">
        <%= link_to "Book Now", activity_bookings_path(@activity, Booking.new), method: :post, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="reviews col-sm-12 col-md-4">
      <div class="profile-image">
        <%= image_tag("autumn-woman.png", :alt => "woman") %>
      </div>
      <div class="reviews-info">
        <h3 class="nickname">Anonymous</h3>
        <p style="margin-bottom: 0;"><strong>Posted on Fri 23, Nov 2020</strong></p>
      </div>
      <div class="reviews-text">
        <p>Nostrud ullamco quis sunt occaecat proident eu aliquip enim eu sunt id magna anim minim. Id sint est minim ipsum do voluptate enim duis cupidatat...</p>
      </div>

      <div class="profile-image">
        <%= image_tag("autumn-woman.png", :alt => "woman") %>
      </div>
      <div class="reviews-info">
        <h3 class="nickname">Anonymous</h3>
        <p style="margin-bottom: 0;"><strong>Posted on Fri 23, Nov 2020</strong></p>
      </div>
      <div class="reviews-text">
        <p>Nostrud ullamco quis sunt occaecat proident eu aliquip enim eu sunt id magna anim minim. Id sint est minim ipsum do voluptate enim duis cupidatat...</p>
      </div>

      <div class="profile-image">
        <%= image_tag("autumn-woman.png", :alt => "woman") %>
      </div>
      <div class="reviews-info">
        <h3 class="nickname">Anonymous</h3>
        <p style="margin-bottom: 0;"><strong>Posted on Fri 23, Nov 2020</strong></p>
      </div>
      <div class="reviews-text">
        <p>Nostrud ullamco quis sunt occaecat proident eu aliquip enim eu sunt id magna anim minim. Id sint est minim ipsum do voluptate enim duis cupidatat...</p>
      </div>
      <!-- connect the reviews with the show -->
      <%= link_to "See more reviews" %>
    </div>
  </div>
</div>

